@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Raleway&display=swap');
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Raleway', sans-serif; */

/* *{
    border: red 1px dotted;
} */
 
:root {
    --color11: rgba(113, 167, 255, 0.95);
    --color12: rgba(255, 121, 138, 0.95);

    --color21: #05386be6;
    --color22: rgba(55, 150, 131, 0.90);
}

body ,html{
    width: 100%;
    height: 100%;
    position: fixed;

}


/* ############################# */

/* Div central con info sobre mi */

/* ############################# */


#maindiv {
    font-family: 'Big Shoulders Display', cursive;
    color: rgb(255, 255, 255);
    position: fixed;
    height: 100%;
    z-index: 200;
    transition: ease 1s;
    display: flex;
    align-items: center;
}

#scrollable {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 90%;
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#profilePic {
    height: 10em;
    width: auto;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
}

#resumeContainer {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Titulo principal en el div central */

#maindiv h1 {
    letter-spacing: 0.40em;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

/* estilo para el texto que cambia en el div central */

#maindiv p {
    font-family: 'Raleway', sans-serif;

}

td {
    font-family: 'Raleway', sans-serif;
}

#mainFooter {
    font-family: 'Big Shoulders Display', cursive;
    position: absolute;
    font-weight: bolder;
    font-size: 0.75em;
    bottom: 0;
}

/* ##################################### */

/* Div contenedor de los div secundarios */

/* ##################################### */

#backcontainer {
    z-index: 1;
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* ################################ */
/* Div contenedor del div Izquierdo */
/* ################################ */

/* Estilo del div que controla la parte izquierda */

#back1 {
    transform: translateX(-50%);
    width: 100vw;
    z-index: 13;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    transition: ease 1s;
}

#back1Text {
    transform: translateX(-100%);
    opacity: 0;
    position: relative;
    height: 800px;
    width: 1200px;
    top: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
}

#leftShadow {
    margin-top: 1.8%;
    border-radius: 25px;
    position: absolute;
    height: 86%;
    width: 91%;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75); */
}

#frame {
    max-width: 100%;
    height: auto;
}

#lights {
    position: absolute;
    z-index: 16;
    width: 40px;
    display: flex;
    justify-content: space-between;
    bottom: 7%;
    right: 20%;
}

#red {
    height: 15px;
    width: 15px;
    border: 2px outset;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    animation: red 1s infinite alternate;
}

@keyframes red {
    5% {background-color: rgb(255,0,0)}
    12% {background-color: rgb(0,0,0)}
    20% {background-color: rgb(255,0,0)}
    17% {background-color: rgb(0,0,0)}
    25% {background-color: rgb(255,0,0)}
    38% {background-color: rgb(0,0,0)}
    42% {background-color: rgb(255,0,0)}
    50% {background-color: rgb(0,0,0)}
    65% {background-color: rgb(255,0,0)}
    70% {background-color: rgb(0,0,0)}
    80% {background-color: rgb(255,0,0)}
    88% {background-color: rgb(0,0,0)}
    92% {background-color: rgb(255,0,0)}
    100% {background-color: rgb(0,0,0)}
}

#green {
    height: 15px;
    width: 15px;
    border: 2px outset;
    border-radius: 50%;
    background-color: rgb(43, 255, 0);
}

#shutDown {
    position: absolute;
    border: 1px outset;
    z-index: 16;
    bottom: 6.5%;
    right: 7%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#pantallaBody {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    height: 72%;
    width: 85.6%;
    transition: ease 1s;
}

#webImage {
    max-width: 100%;
    height: auto;
}

#ir {
    display: block;
    position: absolute;
    bottom: -3%;
    right: 25%;
    z-index: 150000;
}

#mainColor1 {
    background-color: var(--color22);
    height: 100%;
    width: 100%;
    position: absolute;
}

/* ################################ */
/* Div contenedor del div Derecho   */
/* ################################ */

/* Estilo que controla la parte derecha (arte) */

#back2 {
    transform: translateX(-50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: ease 1s;
}

#mainColor2 {
    background-color:var(--color21);
    width: 100%;
    height: 100%;
    position: absolute;
}

/* div con info sobre la seccion derecha (arte) */

#back2Text {
    display: none;
    flex-direction: column;
    color: #ffffffff;
    margin-right: 15%;
    border-radius: 15px;
    transition: ease 0.2s opacity;
    padding: 5em;
    z-index: 75;
    width: 50%;
    background-color: rgba(55, 150, 131, 0.80);;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.75);
}

/* titulo de la info del div derecho (arte) */

#back2Text h1, #back1Text h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    letter-spacing: 5px;
}

#back2Text p, #back2Text h1 {
    text-align: right
}

/* texto del div de la parte derecha */

#back2Text p, #back1Text p {
    color: rgb(236, 236, 236);
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
}

button {
    font-family: 'Raleway', sans-serif;
}

#maindiv i {
    font-size: 2em;
    animation: 0.75s ease-in-out mousemove alternate infinite;
    bottom: 0;
    color: rgba(255, 255, 255,0.5);
}

/* los frames para el icono de cursor */

@keyframes mousemove {
    from {
        transform: translateX(-1em)
    }
    to {
        transform: translateX(1em)
    }
}

/* animated background */

.scrolling {
    width: 100%;
    height: 100%;
    opacity: 15%;
}

.abup {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;
    top: 0;
    left: 0;
    background-image: url("../design/fondo\ programing.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: abup 500s linear infinite;
}

@keyframes abup {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 0 -10000px;
    }
}

.abdown {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;
    top: 0;
    left: 0;
    background: url("../design/background\ art.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: abdown 500s linear infinite;
}

@keyframes abdown {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 0 10000px;
    }
}

#playPause {
    font-size: 1em;
    position: absolute;
    z-index: 2000;
    bottom: 0;
    right: 0;
    padding: 1em;
    font-size: 1.25em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

#playPause:hover {
    color: rgb(255, 255, 255);
    transition: ease-in-out 1s color;
}

#left {
    height: 100%;
    width: 5%;
    z-index: 1500;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    transition: ease 1s;
    justify-content: center;
}

#webbutton {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.25);
}

#webbutton:hover {
    background-color: rgba(0,0,0,0.25);
    cursor: pointer;
}

#webbutton > span {
    color: white;
    display: inline-block;
    transform: rotateZ(-90deg);
}

#right {
    height: 100%;
    width: 5%;
    z-index: 1500;
    position: absolute;
    right: 0;
    transition: ease 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#artbutton {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.25);
}

#artbutton > span {
    color: white;
    display: inline-block;
    transform: rotateZ(90deg);

}

#webbutton:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#artbutton:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#mainmenu {
    height: 8%;
    width: 95%;
    z-index: 1500;
    position: absolute;
    bottom: 0;
    display: flex;
    transition: ease 1s;
    transform: translateY(100%);
}

#mainbutton {
    height: 100%;
    width: 100%;
    border: none;
    transition: ease 1s;
    background-color: rgba(0,0,0,0.25);
}

#mainbutton > span {
    color: white;
    display: inline-block;
}

#mainbutton:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #maindiv h1 {
    font-size: 2em;
  }

  #profilePic {
    height: 10em;
  }

  #scrollable {
    height: 90%;
    overflow-y: scroll;
  }

  #right {
    width: 10%;
  }
  #left {
    width: 10%;
  }
}